/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bright-blue: hsl(220, 98%, 61%);
}

/* Utilities */
/* Class for button */
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button.btn-action {
  color: var(--dark-grayish-blue);
  font: normal 0.9375rem 'Josefin Sans', sans-serif;
  text-decoration: none;
  transition: all 0.3s;
}

button.btn-action.active {
  color: var(--bright-blue);
  font: bold 0.9375rem 'Josefin Sans', sans-serif;
}

button.btn-action:hover {
  color: var(--bright-blue);
}


/* Body's style config */
body {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: 45px 62px auto 62px 45px;

  background-repeat: repeat-x;
  background-attachment: fixed;
  
  font: normal 18px 'Josefin Sans', sans-serif;
}

.light {
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  background: url('../../assets/img/background/bg-mobile-light.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: var(--very-light-gray);
  color: var(--very-dark-grayish-blue);
}

.dark {
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);

  background: url('../../assets/img/background/bg-mobile-dark.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: var(--very-dark-blue);
  color: var(--light-grayish-blue);
}

/* Todo's style */
/* Header */
header#todo-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  display:flex;
  align-items: flex-start;
  justify-content: space-between;

  color: white;
}

header#todo-header h1 {
  font-size: 27px;
  letter-spacing: 11px;
}

header#todo-header img {
  width: 22.5px;
}


/* Main */
main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Create todo */
main div#create-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 20px;
  border-radius: 5px;
  color: var(--dark-grayish-blue);
}

.light main div#create-todo {
  background-color: white;
}

.dark main div#create-todo {
  background-color: var(--very-dark-desaturated-blue);
}

main div#create-todo #create {
  height: 1rem;
  width: 80%;
  background-color: transparent;
  border:none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}

main div#create-todo #save {
  color: var(--dark-grayish-blue);
  background-color: transparent;
  font: normal 1.125rem 'Josefin Sans', sans-serif;
  transition: all 0.3s;
}

main div#create-todo #save:hover {
  color: var(--bright-blue);
}

/* Viewing tasks */
main div#viewing-tasks {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
}

.light main div#viewing-tasks {
  background-color: white;
}

.dark main div#viewing-tasks {
  background-color: var(--very-dark-desaturated-blue);
}

main div#viewing-tasks div.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 16px 20px;
  border-bottom: 0.2px solid;
}

.light main div#viewing-tasks div.task {
  border-color: var(--light-grayish-blue);
}

.dark main div#viewing-tasks div.task {
  border-color: var(--very-dark-grayish-blue);
}

main div#viewing-tasks div.task .item {
  display: flex;
  align-items: center;
  gap: 15px; 
}

main div#viewing-tasks div.task .item p.checked{
  text-decoration: line-through;
}

.light main div#viewing-tasks div.task .item p.checked {
  color: var(--light-grayish-blue);
}

.dark main div#viewing-tasks div.task .item p.checked {
  color: var(--dark-grayish-blue);
}

main div#viewing-tasks div.task .item div {
  display: block;
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  font-size: 22px;
  user-select: none;
}

main div#viewing-tasks div.task .item div input{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
}

main div#viewing-tasks div.task .item div .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1.5px solid;
  background-color: transparent;
  border-radius: 50%;
  z-index: 0;
}

.light main div#viewing-tasks div.task .item div .checkmark {
  border-color: var(--light-grayish-blue);
}

.dark main div#viewing-tasks div.task .item div .checkmark {
  border-color: var(--very-dark-grayish-blue);
}

.light main div#viewing-tasks div.task .item div:hover input ~ .checkmark {
  background-color: var(--light-grayish-blue);
}

.dark main div#viewing-tasks div.task .item div:hover input ~ .checkmark {
  background-color: var(--very-dark-grayish-blue);
}

main div#viewing-tasks div.task .item div input:checked ~ .checkmark {
  background-image: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

main div#viewing-tasks div.task .item div .checkmark::after {
  content: url('../../assets/img/icons/icon-check.svg');
  position: absolute;
  display: none;
}

main div#viewing-tasks div.task .item div input:checked ~ .checkmark:after {
  display: block;
}

main div#viewing-tasks div.task .item div .checkmark::after {
  top: -3.495px;
	left: 3.495px;
	width: 8px;
	height: 8px;
}

main div#viewing-tasks div.task img {
  width: 13.5px;
}

main div#viewing-tasks #tasks-footer {
  display: flex;
  justify-content: space-between;
  color: var(--dark-grayish-blue);
  font: normal 0.9375rem 'Josefin Sans', sans-serif;

  padding: 20px;
}

/* Options */
main div#options {
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.055);
  padding: 20px;
}

.light main div#options {
  background-color: white;
}

.dark main div#options {
  background-color: var(--very-dark-desaturated-blue);
}

main div#options ul {
  display:flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  font-size: 16px;
}

/* Todo footer */
footer#todo-footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  text-align: center;
  color: var(--dark-grayish-blue);
}


/* Responsividade */
@media screen and (min-width: 620px) {
  /* Body's style config */
  body {
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 65px 75px auto 75px 65px;
    
    font: normal 1.125rem 'Josefin Sans', sans-serif;
  }

  .light {
    background: url('../../assets/img/background/bg-desktop-light.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: var(--very-light-gray);
  }
  
  .dark {
    background: url('../../assets/img/background/bg-desktop-dark.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: var(--very-dark-blue)
  }

  /* Todo's style */
  /* Header */
  header#todo-header h1 {
    font-size: 36px;
    letter-spacing: 15px;
  }
  
  header#todo-header img {
    width: 26px;
  }

  /* Main */
  main {
    gap: 1.125rem;
  }

  /* Create todo */
  main div#create-todo {
    padding: 16px 25px;
  }
  
  main div#create-todo #create {
    height: 1.3rem;
    width: 85%;
    font-size: 1.125rem;
  }
  
  main div#create-todo #save {
    font: normal 1.265625rem 'Josefin Sans', sans-serif;
  }

  /* Viewing Tasks */
  main div#viewing-tasks div.task {
    padding: 18px 25px;
  }
  
  main div#viewing-tasks div.task > button {
    display:none;
  }
  
  main div#viewing-tasks div.task:hover > button {
    display:block;
  }

  main div#viewing-tasks div.task button img {
    width: 15px;
  }

  main div#viewing-tasks #tasks-footer {
    font: normal 1.125rem 'Josefin Sans', sans-serif;
  
    padding: 20px 25px;
  }

  /* Options */
  main div#options {
    padding: 20px;
  }

  main div#options ul {
    gap: 30px;
  }

  main div#options ul li button {
    font-size: 1.125rem;
  }

  /* Todo footer */
  footer#todo-footer {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1050px) {
  /* Body's style config */
  body {
    grid-template-columns: 1fr 1.25fr 1fr;
    grid-template-rows: 75px 80px auto 80px 75px;

    font: normal 1.375rem 'Josefin Sans', sans-serif;
  }

  /* Todo's style */
  /* Header */
  header#todo-header h1 {
    font-size: 37px;
    letter-spacing: 16px;
  }
  
  header#todo-header img {
    width: 26px;
  }

  /* Main */
  main {
    gap: 1.375rem;
  }

  /* Create todo */
  main div#create-todo {
    padding: 20px 25px;
  }
  
  main div#create-todo #create {
    height: 1.5rem;
    width: 86%;
    font-size: 1.25rem;
  }
  
  main div#create-todo #save {
    font: normal 1.375rem 'Josefin Sans', sans-serif;
  }

  /* Viewing Tasks */
  main div#viewing-tasks div.task {
    padding: 20px 25px;
  }

  main div#viewing-tasks div.task img {
    width: 17px;
  }

  main div#viewing-tasks div.task .item div input{
    height: 22px;
    width: 22px;
  }

  main div#viewing-tasks div.task .item div .checkmark {
    height: 22px;
    width: 22px;
  }

  main div#viewing-tasks div.task .item div .checkmark::after {
    top: -2.015px;
    left: 3.495px;
    width: 8px;
    height: 8px;
  }

  main div#viewing-tasks #tasks-footer {
    font: normal 1.25rem 'Josefin Sans', sans-serif;
  
    padding: 22px 25px;
  }

  main div#viewing-tasks #tasks-footer button {
    font: normal 1.125rem 'Josefin Sans', sans-serif;
  }

  /* Options */
  main div#options {
    padding: 22.5px 20px;
  }

  main div#options ul {
    gap: 30px;
  }

  main div#options ul li button {
    font-size: 1.125rem;
  }

  /* Todo footer */
  footer#todo-footer {
    font-size: 1.125rem;
  }
}
