* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../../assets/img/background/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  position:fixed;
  bottom: 0;
  right: 12.5%;
}

.attribution { 
  display:flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  font-size: 12px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.attribution a:hover { 
  color: hsl(228, 51%, 34%); 
}
