/* Viewing tasks */
main section ul#viewing-tasks li.task a {
  text-decoration: none;
}

main section ul#viewing-tasks li.task a p {
  transition: all 0.3s;
}

main section ul#viewing-tasks li.task a p:hover {
  color: var(--bright-blue);
}

.light main section ul#viewing-tasks li.task a {  
  color: var(--very-dark-grayish-blue);
}

.dark main section ul#viewing-tasks li.task a {
  color: var(--light-grayish-blue);
}

@media screen and (min-width: 620px) {
  main section footer#tasks-footer button {
    font-size: 1.125rem;
  }
}
