/* Colors variables */
:root {
  --main-text-color: #E7E7EB;
  --main-background-color: #100E1D;
  --alternative-background-color: #1E213A;
}

/* Util */
span.icons {
  color: var(--main-text-color);
}

button.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2, h3, p {
  margin: 0;
}

/* HTML config */
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

/* Body Style */
body {
  background: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
}

/* Main */
/* Today's Weather */
main section#todays-weather {
  background: var(--alternative-background-color);
  position: relative;
  z-index: 1;
}

/* Cloud background */
main section#todays-weather::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  background: url('../../assets/img/background/Cloud-background.png') 50% 40% no-repeat;
  z-index: -1;
  opacity: 0.1;
}

/* Weather search */
main section#todays-weather div#weather-nav {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  
  width: 100%;
  height: 100%;
  background: var(--alternative-background-color);
}

main section#todays-weather div#weather-nav.show {
  visibility: visible;
  opacity: 1;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main section#todays-weather div#weather-nav > button {
  color: var(--main-text-color);
  align-self: flex-end;
  padding: 18px 12px;

  transition: all 0.2s;
}

main section#todays-weather div#weather-nav > button:hover {
  color: #535eee;
}

main section#todays-weather div#weather-nav > form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding: 0px 12px;  
}

main section#todays-weather div#weather-nav > form > div {
  display: flex;
  align-items: center;
  gap: 3px;
  
  border: solid 1px var(--main-text-color);
  border-radius: 2px;

  box-shadow: 1px 1px 3px var(--main-background-color);

  padding: 0 15px;
  height: 48px;
  width: 55%;
}

main section#todays-weather div#weather-nav > form > div > input {
  background-color: transparent;
  border: none;
  outline: none;

  color: #616475;
  font: 600 1em;
}

main section#todays-weather div#weather-nav > form > div > input::placeholder {
  color: #616475;
  font: 600 1em;
}

main section#todays-weather div#weather-nav > form > button {
  background-color: #3C47E9;
  color: var(--main-text-color);
  font-weight: 600;

  border-radius: 2px;
  box-shadow: 1px 1px 3px var(--main-background-color);

  margin-right: 24px;  
  padding: 12px 15px;
  height: 48px;

  transition: all 0.2s;
}

main section#todays-weather div#weather-nav > form > button:hover {
  background-color: #222fe7;
}

main section#todays-weather div#weather-nav > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-top: 38px;
  padding: 0;

  list-style: none;
}

main section#todays-weather div#weather-nav > ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px 12px;
  margin: 0 12px;

  cursor: pointer;
}

main section#todays-weather div#weather-nav > ul li:hover {
  border: solid 1px #616475;
  border-radius: 2px;
}

main section#todays-weather div#weather-nav > ul li span.material-icons {
  color: #616475;
}

/* Today's header */
main section#todays-weather > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 12px 0 12px;
}

/* Header buttons */
main section#todays-weather > header button {
  background: #6E707A;
  color: var(--main-text-color);
  border-radius: 2px;

  box-shadow: 1.5px 1.5px 3px var(--main-background-color);
}

main section#todays-weather > header button#search-city {
  height: 40px;
  padding: 10px 18px;
  
  transition: all 0.2s;
}

main section#todays-weather > header button#search-city:hover {
  background-color: #3C47E9;
}

main section#todays-weather > header button#my_location {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  transition: all 0.2s;
}

main section#todays-weather > header button#my_location:hover {
  background-color: #3C47E9;
}

/* Current information */
main section#todays-weather > div#current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 120px 0 100px 0;

  text-align: center;
}

main section#todays-weather > div#current img {
  width: 150px;
}

main section#todays-weather > div#current #current-temperature {
  color: #A09FB1;
  margin-top: 40px;
}

main section#todays-weather > div#current #current-temperature h2 {
  font: 500 48px 'Raleway', sans-serif;
}

main section#todays-weather > div#current #current-temperature h3 {
  font: 500 36px 'Raleway', sans-serif;
  margin-top: 23px;
}

main section#todays-weather > div#current #current-temperature h2 > span.temperature {
  font-size: 144px;
  color: var(--main-text-color);
}

main section#todays-weather > div#current #current-infos {
  display: flex;
  flex-direction: column;
  gap: 33px;

  font: 500 18px 'Raleway', sans-serif;
  color: #88869D;
  margin-top: 48px;
}

main section#todays-weather > div#current #current-infos div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

main section#todays-weather > div#current #current-infos div > span.icons {
  color: #88869D;
}

/* Convert temperature */
#convert-temperature {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 42px 54px 0px;
}

#convert-temperature button {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#convert-temperature button.show {
  display: block;
  visibility: visible;
  opacity: 1;
}

#convert-temperature button#celcius {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #110E3C;
  
  border-radius: 50%;
  background: var(--main-text-color);
  padding: 8px 9px;

  transition: all 0.3s;
}

#convert-temperature button#celcius:hover {
  color: var(--main-text-color);
  background: #585676;
}

#convert-temperature button#fahrenheit {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--main-text-color);
  
  border-radius: 50px;
  background: #585676;
  background: #585676;
  padding: 8px 10px;
  
  transition: all 0.3s;
}

#convert-temperature button#fahrenheit:hover {
  color: #110E3C;
  background: var(--main-text-color);
}

/* Weather forecast for next 5 days */
#weather-forecast-5days {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px 26px;

  padding: 52px 54px;
}

#weather-forecast-5days div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--alternative-background-color);
  border-radius: 2px;

  padding: 18px 0;

  min-width: 120px;
  height: 180px;
}

#weather-forecast-5days div p.day {
  font-size: 18px;

  margin-bottom: 25px;
}

#weather-forecast-5days div img {
  width: 70px;
}

#weather-forecast-5days div div.max-and-min-temp {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
  padding: 0;
  margin-top: 5px;
}

#weather-forecast-5days div div.max-and-min-temp p.min-temp {
  color: #A09FB1;
}

/* Today's Hightlights */
#hightlights {
  padding: 0 24px 96px 24px;
}

#hightlights > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hightlights #title {
  margin-bottom: 32px;
}

#hightlights .hightlights-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--alternative-background-color);
  
  border-radius: 2px;
  padding: 22px 0 28px 0;
}

#hightlights .hightlights-conteiner .title-highlight {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}

#hightlights .hightlights-conteiner .data-hightlights {
  font-size: 4rem;
  font-weight: 700;
}

#hightlights .hightlights-conteiner .data-hightlights.simple-hightlights {
  margin-bottom: 10px;
}

#hightlights .hightlights-conteiner .data-hightlights span.measure {
  font-size: 2rem;
  font-weight: 500;
}

#hightlights .hightlights-conteiner .wind-position {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-top: 32px;
}

#hightlights .hightlights-conteiner .wind-position #position {
  background: #A09FB1;
  border-radius: 50%;
  font-size: 1rem;
  padding: 5px;
}

#hightlights .hightlights-conteiner .wind-position p {
  font-size: 14px;
  font-weight: 500;
}

#hightlights .hightlights-conteiner .progress-bar .percent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #A09FB1;
  font-size: 12px;
  font-weight: 700;

  margin-top: 12px;
}

#hightlights .hightlights-conteiner .progress-bar #progress {
  height: 10px;
  width: 230px;
}

#hightlights .hightlights-conteiner .progress-bar .percentage {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: #A09FB1;
  font-size: 12px;
  font-weight: 700;
}

/* Page footer */
footer#footer {
  display:flex;
  justify-content: center;
  
  margin-bottom: 24px;

  font: 500 14px 'Montserrat', sans-serif;
  color: #A09FB1;
}

footer#footer p a {
  font-weight: 700;
  color: #A09FB1;
  
  transition: all 0.2s;
}

footer#footer p a:active, footer#footer p a:checked, footer#footer p a:visited {
  color: #A09FB1;
}

footer#footer p a:hover {
  color: #3C47E9;
}



/* Responsiveness */
/* Tablet */
@media screen and (min-width: 700px) {
  /* Main */
  /* Weather search */
  main section#todays-weather div#weather-nav > button {
    padding: 24px 20px;
  }
  
  main section#todays-weather div#weather-nav > form {
    padding: 0px 20px;  
  }
  
  main section#todays-weather div#weather-nav > form > div {
    height: 50px;
    min-width: 75%;
  }

  main section#todays-weather div#weather-nav > form > div > input {
    font: 600 1.2em;
  }
  
  main section#todays-weather div#weather-nav > form > div > input::placeholder {
    font: 600 1.2em;
  }
  
  main section#todays-weather div#weather-nav > form > button {
    margin-right: 40px;  
    padding: 12px 15px;
    height: 50px;
  }

  main section#todays-weather div#weather-nav > ul {
    gap: 15px;
    margin-top: 42px;
  }
  
  main section#todays-weather div#weather-nav > ul li {
    margin: 0 20px;

    font-size: 1.2rem;
  }

  /* Today's Weather */
  main section#todays-weather > header {
    padding: 32px 24px 0 24px;
  }
  main section#todays-weather > header button#search-city {
    height: 45px;
    padding: 12px 20px;
    font-size: 18px;
  }
  main section#todays-weather > header button#my_location {
    width: 45px;
    height: 45px;
  }
  main section#todays-weather > div#current img {
    width: 180px;
  }

  /* Convert temperature */
  #convert-temperature {
    margin: 42px 80px 0px;
  }

  /* Weather forecast for next 5 days */
  #weather-forecast-5days {
    gap: 40px 32px;

    padding: 80px 54px;
  }
  
  #weather-forecast-5days div {
    padding: 32px 0;
  
    min-width: 240px;
  }

  #weather-forecast-5days div p.day {
    font-size: 20px;
  
    margin-bottom: 25px;
  }

  #weather-forecast-5days div img {
    width: 100px;
  }

  #weather-forecast-5days div div.max-and-min-temp {
    font-size: 18px;

    margin-top: 10px;
  }

  /* Today's Hightlights */
  #hightlights {
    padding: 0 48px 96px 48px;
  }

  #hightlights .hightlights-conteiner {
    padding: 32px 0 38px 0;
  }

  #hightlights .hightlights-conteiner .title-highlight {
    font-size: 18px;
  }

  #hightlights .hightlights-conteiner .wind-position #position {
    font-size: 1.2rem;
  }
  
  #hightlights .hightlights-conteiner .wind-position p {
    font-size: 1rem;
  }
  
  #hightlights .hightlights-conteiner .progress-bar .percent {
    font-size: 14px;
  
    margin-top: 20px;
  }
  
  #hightlights .hightlights-conteiner .progress-bar #progress {
    height: 16px;
    width: 320px;
  }
  
  #hightlights .hightlights-conteiner .progress-bar .percentage {
    font-size: 14px;
  }
  
  /* Page footer */
  footer#footer {
    font: 500 16px 'Montserrat', sans-serif;
  }
}

/* Desktop */
@media screen and (min-width: 1000px) {
  /* Main */
  main {
    display: flex;
  }
  /* Weather search */
  main section#todays-weather div#weather-nav {
    position: absolute;
  }

  main section#todays-weather div#weather-nav > form {
    width: 80%;
    padding: 0px 12px;
    gap: 12px;
  }
  
  main section#todays-weather div#weather-nav > form > div {
    width: 40%;
  }
  
  main section#todays-weather div#weather-nav > form > div > input {
    width: 95%;
  }
  
  main section#todays-weather div#weather-nav > form > button {
    padding: 11px 14px;
    margin-right: 0;
  }
  
  /* Today's header */
  main section#todays-weather > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 18px 12px 0 12px;
  }
  
  /* Today's Weather */
  main section#todays-weather {
    min-width: 420px;
  }

  main section#todays-weather > header {
    padding: 32px 36px 0 36px;
  }
  main section#todays-weather > header button#search-city {
    height: 40px;
    padding: 10px 18px;
  }
  main section#todays-weather > header button#my_location {
    width: 40px;
    height: 40px;
  }
  main section#todays-weather > div#current img {
    width: 200px;
  }

  /* Current information */
  main section#todays-weather > div#current {
    padding: 100px 0;
  }

  main section#todays-weather > div#current #current-temperature {
    margin-top: 87px;
  }

  main section#todays-weather > div#current #current-temperature h3 {
    margin-top: 32px;
  }

  main section#todays-weather > div#current #current-infos {
    margin-top: 87px;
  }

  /* Convert temperature */
  #convert-temperature {
    margin: 42px 90px 0px;
  }

  /* Weather forecast for next 5 days */
  #weather-forecast-5days {
    display:flex;
    gap: 26px;

    padding: 66px 80px 72px 80px;
  }
  
  #weather-forecast-5days div {
    padding: 18px 0;
  
    min-width: 120px;
  }

  #weather-forecast-5days div p.day {
    font-size: 18px;
  
    margin-bottom: 25px;
  }

  #weather-forecast-5days div img {
    width: 70px;
  }

  #weather-forecast-5days div div.max-and-min-temp {
    font-size: 16px;

    margin-top: 5px;
  }

  /* Today's Hightlights */
  #hightlights {
    padding: 0 80px 96px 80px;
  }

  #hightlights > div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  #hightlights .hightlights-conteiner {
    width: 40%;
    padding: 22px 0px 38px 0px;
  }

  #hightlights .hightlights-conteiner .title-highlight {
    font-size: 1rem;
  }

  #hightlights .hightlights-conteiner .wind-position #position {
    font-size: 1rem;
  }
  
  #hightlights .hightlights-conteiner .wind-position p {
    font-size: 14px;
  }
  
  #hightlights .hightlights-conteiner .progress-bar .percent {
    font-size: 12px;
  
    margin-top: 12px;
  }
  
  #hightlights .hightlights-conteiner .progress-bar #progress {
    height: 10px;
    width: 160px;
  }
  
  #hightlights .hightlights-conteiner .progress-bar .percentage {
    font-size: 12px;
  }
  
  /* Page footer */
  footer#footer {
    font: 500 14px 'Montserrat', sans-serif;
  }
}
